* {
  margin: 0;
  padding: 0;
}

.container {
   max-width: 1100px;
   width: 100%;
   margin: auto;
 }

 .image {
   display: flex;
   justify-content: space-around;
   margin-top: 150px;
 }

 img {
   height: 150px;
   border: 7px solid #ececec;
   border-radius: 5px;
   margin-left: 150px;
   box-shadow: -70px 60px 3px 3px #f0f0f0;
   transform: skewX(30deg);
   transition: all 0.5s ease-in-out;
 }

 img:hover {
  transform: skewX(0deg);
  box-shadow: none;
 }

.block-container {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.block {
  height: 150px;
  width: 150px;
  display: inline-block;
  background-color: #ff3d3d;
  border-radius: 3%;
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.1, 0.1);
    border-radius: 50%;
    background-color: #c3c3c3;
  }
  20% {
    transform: scale(0.5, 0.5);
    border-radius: 50%;
    background-color: #c2ae9a;
  }
  47%, 53% {
    transform: scale(1.0, 1.0);
    border-radius: 3%;
    background-color: #ff3d3d;
  }
  75% {
    transform: scale(0.5, 0.5);
    border-radius: 50%;
    background-color: #c2ae9a;
  }
  100% {
    transform: scale(0.1, 0.1);
    border-radius: 50%;
    background-color: #c3c3c3;
  }
}
