* {
  margin: 0;
  padding: 0;
}

.container {
   max-width: 1100px;
   width: 100%;
   margin: auto;
 }

 .image {
   margin-top: 50px;
   margin-left: 50px;
 }

.block {
  height: 200px;
  width: 200px;
  background-color: #ff3d3d;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 3%;
  animation: pulse 4s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.1, 0.1);
    border-radius: 50%;
  }
  20% {
    transform: scale(0.5, 0.5);
    border-radius: 50%;
  }
  47%, 53% {
    transform: scale(1.0, 1.0);
    border-radius: 3%;
  }
  75% {
    transform: scale(0.5, 0.5);
    border-radius: 50%;
  }
  100% {
    transform: scale(0.1, 0.1);
    border-radius: 50%;
  }
}
